In [2]:
import random
print(random.randint(1,6))

4

In [4]:
from random import randint as ri
for i in range(10):
  print(ri(1,6),end=" ")
print()

3 5 5 3 5 2 4 3 1 4

In [5]:
from random import randint as ri
import random
s=['A','B','C','D','E']
for i in range(10):
 print(' {:2s}'.format(random.choice(s)),end='')
print()

 A  E  C  A  E  B  E  B  E  C

In [8]:
num=list(range(1,50))
print(num)
num.remove(20)
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [12]:
lis1=[]
for i in range(10):
 n=random.choice(num)
 if n in lis1:
   print(' {:2d}'.format(n))
 else:
   lis1.append(n)
print(lis1)

 48
 26
[48, 43, 11, 13, 5, 26, 42, 16]

In [14]:
lis1=[]
n1=0
while n1 < 10:
  n=random.choice(num)
  if n in lis1:
   continue
  else:
   lis1.append(n)
   n1=n1+1
print(lis1)

[8, 46, 37, 45, 3, 34, 35, 41, 32, 29]

In [16]:
oddlist1=[num for num in range(1,10) if num%2==0]
print(oddlist1)

[2, 4, 6, 8]

In [25]:
import math
a=6
b=8
c=a**2+b**2
print(math.sqrt(c))

10.0

In [21]:
c=pow(a,2)+pow(b,2)
print(c)

25

In [22]:
c=a*a+b*b
print(c)

25

In [36]:
def isprime(num):
  if num == 2:
    return True
  else:
    for n in range(2,num):
      if num%n==0:
        return False
  return True

In [37]:
num = int(input("請輸入大於1的整數做質數測試? "))
if isprime(num):
  print(f"{num}是質數")
else:
  print(f"{num}不是質數")

請輸入大於1的整數做質數測試? 97
97是質數

In [38]:
lis1=[]
for i in range(500,700):
  if isprime(i):
    lis1.append(i)
print(lis1)

[503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691]

In [39]:
drinks=["coffee","tea","wine"]
for drink in enumerate(drinks):
  print(drink)
print("***********************")
for i in range(3):
  print(drinks[i])

(0, 'coffee')
(1, 'tea')
(2, 'wine')
***********************
coffee
tea
wine

In [42]:
for drink in enumerate(drinks,101):
  print(drink)

(101, 'coffee')
(102, 'tea')
(103, 'wine')

In [45]:
for count, drink in enumerate(drinks,1):
  print(count, drink)

1 coffee
2 tea
3 wine