<a href="https://colab.research.google.com/github/jumbokh/summer2023-class/blob/main/notebooks/ch5_0202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#E_5_8 功能: 計算1-(1/n)的函數。
n=int(input('Please input n : '))
result=0
for i in range(2,n+1,1):
    result=result+(1-(1/i))
    print("{:5.2f},{:5.2f}".format(result,(1-1/i)))
print('%s %.2f' %('The result is ', result))

Please input n : 10
 0.50, 0.50
 1.17, 0.67
 1.92, 0.75
 2.72, 0.80
 3.55, 0.83
 4.41, 0.86
 5.28, 0.88
 6.17, 0.89
 7.07, 0.90
The result is  7.07

## https://www.runoob.com/python/att-string-format.html

In [ ]:
from random import randint as ri
for i in range(10):
 num=ri(1,6)
 print(' {:2d}'.format(num),end='')
print()

  4  5  6  1  6  1  6  6  2  2

In [ ]:
from random import randint as ri
for i in range(10):
 print(' {:2d}'.format(ri(1,6)),end='')
print()

  5  4  5  6  6  5  4  3  6  1

In [ ]:
from random import randint as ri
import random
s=['A','B','C','D','E']
for i in range(10):
 num=ri(1,6)
 print('{:2d} '.format(num),end='')
print()
for i in range(10):
 print(' {:2s}'.format(random.choice(s)),end='')
print()

 6  6  6  5  6  1  2  1  6  1
 A  D  C  E  E  B  C  A  A  B

In [ ]:
for i in range(1,10):
  for j in range(1,10):
    print('{}x{}={:2d}'.format(i,j,i*j),end=' ')
  print()

1x1= 1 1x2= 2 1x3= 3 1x4= 4 1x5= 5 1x6= 6 1x7= 7 1x8= 8 1x9= 9
2x1= 2 2x2= 4 2x3= 6 2x4= 8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18
3x1= 3 3x2= 6 3x3= 9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27
4x1= 4 4x2= 8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36
5x1= 5 5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45
6x1= 6 6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54
7x1= 7 7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63
8x1= 8 8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72
9x1= 9 9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81

## 7-2-6 含有條件式的串列生成

In [ ]:
oddlist=[]
for num in range(1,10):
  if num % 2 == 1:
    oddlist.append(num)
print(oddlist)
oddlist1=[num for num in range(1,10) if num%2==1]
print(oddlist1)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

## 從 1~20 間的數字找出 $a^2 + b^2 = c^2$ 的組合

In [7]:
x = [[a,b,c] for a in range(1,20) for b in range(a,20) for c in range(b,20)
     if a**2 + b **2 ==c**2]
print(x)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [8, 15, 17], [9, 12, 15]]

## 列出ASCII碼值或Unicode碼值的字

In [8]:
for x in range(32,128):
  print(chr(x),end=" ")
print()

  ! " # $ % & ' ( ) * + , - . / 0 1 2 3 4 5 6 7 8 9 : ; < = > ? @ A B C D E F G H I J K L M N O P Q R S T U V W X Y Z [ \ ] ^ _ ` a b c d e f g h i j k l m n o p q r s t u v w x y z { | } ~ 

In [9]:
print(ord('0'))

48

## 繪製直角三角形

In [ ]:
for i in range(1,10):
  for j in range(1,10):
    if j <=i:
      print("**",end="")
  print()

**
****
******
********
**********
************
**************
****************
******************

## 繪製菱形

In [10]:
n = 9
print("Pattern 1")
for a1 in range(1, (n+1)//2 + 1): #from row 1 to 5
    for a2 in range((n+1)//2 - a1):
        print(" ", end = "")
    for a3 in range((a1*2)-1):
        print("*", end = "")
    print()

for a1 in range((n+1)//2 + 1, n + 1): #from row 6 to 9
    for a2 in range(a1 - (n+1)//2):
        print(" ", end = "")
    for a3 in range((n+1 - a1)*2 - 1):
        print("*", end = "")
    print()

Pattern 1
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [14]:
h = int(input("please enter diamond's height:"))

for i in range(h):
    print(" "*(h-i), "*"*(i*2+1))
for i in range(h-2, -1, -1):
    print(" "*(h-i), "*"*(i*2+1))

please enter diamond's height:9
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
   ***************
    *************
     ***********
      *********
       *******
        *****
         ***
          *

```
The logic is the following:
(A space is represented as "0" here.)

# i = 1 | new i = 1 - 5 = -4 | * : 9 - 8 = 1 | 0000 + * + 0000
# i = 2 | new i = 2 - 5 = -3 | * : 9 - 6 = 3 | 000 + *** + 000
# i = 3 | new i = 3 - 5 = -2 | * : 9 - 4 = 5 | 00 + ***** + 00
# i = 4 | new i = 4 - 5 = -1 | * : 9 - 2 = 7 | 0 + ******* + 0
# i = 5 | new i = 5 - 5 = 0  | * : 9 - 0 = 9 |    *********
# i = 6 | new i = 6 - 5 = 1  | * : 9 - 2 = 7 | 0 + ******* + 0
# i = 7 | new i = 7 - 5 = 2  | * : 9 - 4 = 5 | 00 + ***** + 00
# i = 8 | new i = 8 - 5 = 3  | * : 9 - 6 = 3 | 000 + *** + 000
# i = 9 | new i = 9 - 5 = 4  | * : 9 - 8 = 1 | 0000 + * + 0000
```

In [13]:
num = 9

for i in range(1, num+1):
  i = i - (num//2 +1)
  if i < 0:
    i = -i
  print(" " * i + "*" * (num - i*2) + " "*i)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

## 質數測試程式

In [16]:
num = int(input("請輸入大於1的整數做質數測試? "))
if num == 2:
  print(f"{num}是質數")
else:
  for n in range(2,num):
    if num%n==0:
      print(f"{num}不是質數")
      break
    else:
      print(f"{num}是質數")
      break

請輸入大於1的整數做質數測試? 97
97是質數

## enumerate 物件使用 for 迴圈解析

In [17]:
drinks=["coffee","tea","wine"]
for drink in enumerate(drinks):
  print(drink)
print("***********************")
for drink in enumerate(drinks,10):
  print(drink)
for count, drink in enumerate(drinks, 10):
  print(count, drink)

(0, 'coffee')
(1, 'tea')
(2, 'wine')
***********************
(10, 'coffee')
(11, 'tea')
(12, 'wine')
10 coffee
11 tea
12 wine

## 設定 3*5 的二維陣列

In [19]:
score=[[0]*5 for i in range(3)]
for sc in score:
  print(sc)
print(score)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

## 輸入 本金、年利率與存款年數,算出每年的本利和

In [20]:
# ch7_7.ipynb
money = 50000
rate = 0.015
n = 5
for i in range(n):
    money *= (1 + rate)
    print(f"第 {i+1} 年本金和 : {int(money)}")

第 1 年本金和 : 50749
第 2 年本金和 : 51511
第 3 年本金和 : 52283
第 4 年本金和 : 53068
第 5 年本金和 : 53864

In [21]:
money = int(input('輸入本金:'))
rate = float(input('輸入年利率:'))
n = int(input('輸入年數:'))
for i in range(n):
    money *= (1 + rate)
    print(f"第 {i+1} 年本金和 : {int(money)}")

輸入本金:1000000
輸入年利率:0.0209
輸入年數:10
第 1 年本金和 : 1020899
第 2 年本金和 : 1042236
第 3 年本金和 : 1064019
第 4 年本金和 : 1086257
第 5 年本金和 : 1108960
第 6 年本金和 : 1132137
第 7 年本金和 : 1155799
第 8 年本金和 : 1179955
第 9 年本金和 : 1204616
第 10 年本金和 : 1229793

## 輸入 n,m (m>n), 計算 n加到m的和,
## 如: 0,100, 0+1+2+3+4+...+100=5050

In [23]:
n = int(input("輸入n:"))
m = int(input("輸入m:"))
sum=0
if m>n:
  for i in range(n,m+1):
    sum=sum+i
print(sum)

輸入n:1
輸入m:100
5050

## 使用 zip()打包物件

In [24]:
# ch8_11.ipynb
fields = ['Name', 'Age', 'Hometown']
info = ['Peter', '30', 'Chicago']
zipData = zip(fields, info)     # 執行zip
print(type(zipData))            # 列印zip資料類型
player = list(zipData)          # 將zip資料轉成串列
print(player)

<class 'zip'>
[('Name', 'Peter'), ('Age', '30'), ('Hometown', 'Chicago')]

In [ ]:
# ch8_12.ipynb
fields = ['Name', 'Age', 'Hometown']
info = ['Peter', '30']
zipData = zip(fields, info)   # 執行zip
print(type(zipData))          # 列印zip資料類型
player = list(zipData)        # 將zip資料轉成串列
print(player)                 # 列印串列

<class 'zip'>
[('Name', 'Peter'), ('Age', '30')]

In [26]:
# ch8_13.ipynb
fields = ['Name', 'Age', 'Hometown']
info = ['Peter', '30', 'Chicago']
zipData = zip(fields, info)     # 執行zip
print(type(zipData))            # 列印zip資料類型
player = list(zipData)          # 將zip資料轉成串列
print(player)                   # 列印串列

f, i = zip(*player)             # 執行unzip
print("fields = ", list(f))
print("info   = ", list(i))

<class 'zip'>
[('Name', 'Peter'), ('Age', '30'), ('Hometown', 'Chicago')]
fields =  ['Name', 'Age', 'Hometown']
info   =  ['Peter', '30', 'Chicago']

## BMI值計算

##### BMI值計算公式:    BMI = 體重(公斤) / $身高^2$($公尺^2$)

##### 例如：一個52公斤的人，身高是155公分，則BMI為 :

##### 52(公斤)/$1.55^2$ ( $公尺^2$ )= 21.6

##### 體重正常範圍為  BMI=18.5～24

In [27]:
h=float(input('請輸入身高(公分)? '))
w=float(input('請輸入體重(公斤)? '))
bmi = w/(pow(h/100.,2))
print('你的BMI值:{:6.2f}'.format(bmi))

請輸入身高(公分)? 177
請輸入體重(公斤)? 80
你的BMI值: 25.54

In [28]:
while True:
  h=float(input('請輸入身高(公分)? '))
  if h==0:
    break
  w=float(input('請輸入體重(公斤)? '))
  bmi = w/(pow(h/100.,2))
  print('你的BMI值:{:6.2f}'.format(bmi))

請輸入身高(公分)? 170
請輸入體重(公斤)? 50
你的BMI值: 17.30
請輸入身高(公分)? 0

In [29]:
def BMI():
  h=float(input('請輸入身高(公分)? '))
  w=float(input('請輸入體重(公斤)? '))
  bmi = w/(pow(h/100.,2))
  print('你的BMI值:{:6.2f}'.format(bmi))

BMI()

請輸入身高(公分)? 176
請輸入體重(公斤)? 80
你的BMI值: 25.83

In [30]:
def BMI():
  h=float(input('請輸入身高(公分)? '))
  w=float(input('請輸入體重(公斤)? '))
  bmi = w/(pow(h/100.,2))
  print('你的BMI值:{:6.2f}'.format(bmi))

while True:
  BMI()
  q=input('按q結束')
  if q=='q':
    break

請輸入身高(公分)? 176
請輸入體重(公斤)? 74
你的BMI值: 23.89
按q結束
請輸入身高(公分)? 170
請輸入體重(公斤)? 58
你的BMI值: 20.07
按q結束q

In [ ]:
i=1
while i<10:
  for j in range(10):
     print('{}x{}={:2d}'.format(i,j,i*j),end=' ')
  print()
  i=i+1

1x0= 0 1x1= 1 1x2= 2 1x3= 3 1x4= 4 1x5= 5 1x6= 6 1x7= 7 1x8= 8 1x9= 9
2x0= 0 2x1= 2 2x2= 4 2x3= 6 2x4= 8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18
3x0= 0 3x1= 3 3x2= 6 3x3= 9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27
4x0= 0 4x1= 4 4x2= 8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36
5x0= 0 5x1= 5 5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45
6x0= 0 6x1= 6 6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54
7x0= 0 7x1= 7 7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63
8x0= 0 8x1= 8 8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72
9x0= 0 9x1= 9 9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81