<a href="https://colab.research.google.com/github/jumbokh/summer2023-class/blob/main/notebooks/test_ndarray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
# Example 3: Convert DataFrame column to numpy
df = pd.DataFrame({'Courses': ['Java', 'Spark', 'PySpark','Hadoop','C'],
                   'Fee': [15000, 17000, 27000, 29000, 12000],
                   'Discount': [1100, 800, 1000, 1600, 600]
                   },index=['a', 'b', 'c', 'd', 'e'])
new_array = np.array(df.index.values)

In [3]:
print(new_array)

['a' 'b' 'c' 'd' 'e']

In [4]:
print(len(new_array))

5

In [5]:
print(type(new_array))

<class 'numpy.ndarray'>

In [6]:
# Example 4: Convert DataFrame column to numpy array.
new_array = df['Discount'].to_numpy()

In [7]:
print(new_array)

[1100  800 1000 1600  600]

In [8]:
print(len(new_array))

5

In [9]:
print(type(new_array))

<class 'numpy.ndarray'>

In [10]:
# Example 5: Convert series to numpy using pandas.index.values property.
new_array = np.array(df.index.values)

In [11]:
def show_info(ndf):
   print(type(ndf))
   print(len(ndf))
   print(ndf)

In [12]:
show_info(new_array)

<class 'numpy.ndarray'>
5
['a' 'b' 'c' 'd' 'e']

In [13]:
# Example 6: Using pandas.index.to_numpy() function.
new_array = df.index.to_numpy()

In [14]:
show_info(new_array)

<class 'numpy.ndarray'>
5
['a' 'b' 'c' 'd' 'e']

In [15]:
# Example 7: Using pandas.index.array property.
new_array = np.array(df.index.array)

In [16]:
show_info(new_array)

<class 'numpy.ndarray'>
5
['a' 'b' 'c' 'd' 'e']